
.carrusel-contenido {
  display: none;
}

.carrusel-contenido.activo {
  display: block;
}

.w-60 {
  width: 60%;
  padding: 0 5%;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

a {
  text-decoration: none;
  font-size: 310%;
  font-weight: bolder;
  color: #807;
  cursor: pointer;
  position: absolute;
  top: 40%;
}

.previo {
  left: 7%;
}
.sig {
  right: 7%;
}

.seleccionado {
  background-color: #806; /*#806868*/
}